body {
background-color: gray;
margin : auto;
height: 100vh;
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
}

.wrappar{
display: flex;
align-items: center;
justify-content: center;
flex-direction: row;
height: auto;
width: auto;
border : 1px solid red;
}

.imwrap {
background-color: white;
padding: 10px;
margin: auto;
height: 500px ;
width: 500px;
}
.imwrap img {
position: relative;
top: 0%;
left: 0%;
height: 100% ;
width: 100%;
object-fit: cover; 
margin: auto;
}

.imwrap:hover .opaqueBox {
  visibility: visible;


}
.lArrow {
  margin: 10px;
  width: 0;
	height: 0;
	border-top: 25px solid transparent;
	border-right: 50px solid #555;
  border-bottom: 25px solid transparent;
  
}

.opaqueBox {
display: flex;
align-items: center;
background-color: rgba(0 , 0 , 0 , 0.5);
position: relative;
width:100% ;
height: 20%;
bottom: 21%;
left: 0%;
font-family: Arial, Helvetica, sans-serif;
font-size: 1.5em;
color: white;
visibility: hidden;

}



body > div > div.imwrap > div > p {
margin-left : 5%;

}


.rArrow {
  margin: 10px;
  width: 0;
	height: 0;
	border-top: 25px solid transparent;
	border-left: 50px solid #555;
	border-bottom: 25px solid transparent;
}

.pointer:hover{
  opacity: 0.5;
  cursor: pointer;

}

.boxes img {
background-color: rgba(255, 255 , 255 , 0);
padding: 3px;
margin-top: 15px;
margin-left: 10px;
height: 100px;
width: 100px;
object-fit: cover;

}
.boxes img:hover {
cursor: pointer;
opacity: 0.5;
}
