#container{
  width:900px;
  margin-left:auto;
  margin-right:auto;
  margin-top:2%;
  display:block;
}

div#row1{
   width:900px;
   height:140px;
}
div.circles{

    height: 100px;
    width: 100px;
    border-radius: 100%;
    background-color: #abcdef;
    display:inline;
    float:left;
    padding: 10px;
    margin:10px;
}

div#row2{
   position:relative;
   width:900px;
   height: 140px;
   margin-top:20px;
}
div.squares{
   height:120px;
   width:120px;
   display:inline;
   float:left;
   background-color:steelblue;
   margin-left: 16px;
   margin-top:50px;
}
div#row3{
   position:relative;
   width:900px;
   height: 140px;
   margin-top:100px;
}

div.rectangles{
  height:30px;
   width:120px;
   display:inline;
   float:left;
   background-color:steelblue;
   margin-left: 16px;
}
